.hidden {
    display: none;
}

input {
    width: 50vw;
}

body {
    background-image: linear-gradient(to right, rgb(18 92 232) , #00d5ea);
}

main {
    display: flex;
    justify-content: center;
    height: 37vh;
    align-items: flex-start;
    padding-top: 67px;
}

h1 {
    font-family: 'New Tegomin', serif;
    text-align: center;
    font-size: 38px;
}


.container {
    height: 19vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 432px;
}

.pessoasResponderam, .total {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pessoasResponderam {
    padding: 80px 0px;
}

input#totalPessoas, input#respoderam {
    height: 26px;
    text-align: center;
    font-size: 23px;
    color: #e600de;
}

.btn {
    margin-top: 30px;
    width: 152px;
    background-color: #3757f380;
    font-size: 26px;
    color: white;
}

.final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resposta p {
    font-size: 96px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-top: 48px;
    color: white;
}

@media only screen and (min-width: 600px) {
    input#totalPessoas, input#respoderam {
        height: 36px;
        font-size: 32px;
        width: 52vw;
    }
}